body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f9;
}

header {
    background-color: #1a4565;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #3c8dbc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav li {
    margin: 0;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1a4565;
}

#content-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    border: 1px solid #ddd;
    background-color: white;
    padding: 15px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.producto:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 1em;
}

#rss-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .rss-item {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .rss-item:hover {
    transform: scale(1.03);
  }
  
  .rss-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .rss-item h3 {
    margin: 10px;
    font-size: 1.5em;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .rss-item p {
    margin: 10px;
    color: #666;
    font-size: 1.2em;
  }
  
  .rss-item a {
    display: block;
    margin: 10px;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
  }
  
  .rss-item a:hover {
    background-color: #0056b3;
  }

  #atom-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .atom-entry {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .atom-entry:hover {
    transform: scale(1.03);
  }
  
  .atom-entry img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .atom-entry h3 {
    margin: 10px;
    font-size: 1.5em;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .atom-entry a {
    display: block;
    margin: 10px;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
  }
  
  .atom-entry a:hover {
    background-color: #0056b3;
  }

  #contenedor-horario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.horario {
    margin: 20px;
    flex: 1;
}

.horario h2 {
    font-size: 1.5em;
    color: #333;
}

.horario ul {
    list-style-type: none;
    padding: 0;
}

.horario li {
    margin-bottom: 10px;
}


iframe {
    margin: 20px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
}

